#root {
   height: 100%;
}
html, body {
   background-image: url('https://images.pexels.com/photos/1535421/pexels-photo-1535421.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
   background-size: cover;
 }
.beachesContainer {
   background-image: url('https://images.pexels.com/photos/1535421/pexels-photo-1535421.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
   background-size: cover;
 }



.beachPreviewContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.smallBeachPreview {
  display: flex;
  width: 27%;
  height: 20rem;
  border: 2px solid gray;
  padding: 2%;
  margin: 1%;
  background: gray;
}
.beachImage {
  display: flex;
  background-image: url('https://images.pexels.com/photos/747016/pexels-photo-747016.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  width: 80%;
  height: 60%;
}



.fort-Point {
  background-image: url('https://images.pexels.com/photos/345750/pexels-photo-345750.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
}
.boardType{
  min-height: 280px;
  min-width: 15%;
  background-size: contain;
}

.fish {
  background-image: url('https://i.imgur.com/R1F30Ro.jpg');
}
.shortboard {
  background-image: url('https://i.imgur.com/AoVgbLr.jpg');
}
.longboard {
  background-image: url('https://i.imgur.com/jE05VFC.jpg');
}
.gun {
  background-image: url('https://i.imgur.com/2kHhFnO.jpg');
}
.funboard {
  background-image: url('https://i.imgur.com/mvQ6OtO.png');
}
.inputField {
  display: flex;
}
