.beachPreviewContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.smallBeachPreview {
  display: flex;
  width: 20%;
  height: 100px;
  border: 2px solid gray;
  padding: 2%;
  margin: 2%;
  background-image: url('https://images.pexels.com/photos/747016/pexels-photo-747016.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
}

.fort-Point {
  background-image: url('https://images.pexels.com/photos/345750/pexels-photo-345750.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
}
