#root {
  height: 100%;
  background-image: url('https://images.pexels.com/photos/1553959/pexels-photo-1553959.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

html, body {
    margin: 0;
    height: 100%;
}

h1 {
  color: white;
  font-size: 3em;
  margin-top: 0px;
}

a {
  color: white;
}
.nav {
  color: white;
}
