html {
  min-height: -webkit-fill-available
}
#root {
  min-height: fill;
}
.hello {
/*  background-image: url('https://images.pexels.com/photos/1546116/pexels-photo-1546116.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  min-height: fit-to-screen; */
}
.nav {
  display: flex;
  text-align: space-between;
}
.a {
  text-decoration: none;
  color: white;
}

.active {
  border:5px solid black;
}

.createBoardButton {
  width: 25%;
  height: 20px;
  background: gray;
}
.links {
  text-decoration: none;
  color: white;
}

