html {
  min-height: -webkit-fill-available
}
.hello {
  min-height: fit-to-screen;
}
.nav {
  display: flex;
  text-align: space-between;
}
.a {
  text-decoration: none;
}

.active {
  border:5px solid black;
}

.createBoardButton {
  width: 25%;
  height: 20px;
  background: gray;
}
.links {
  text-decoration: none;
  color: black;
}

